@model test_eteyelo.Models.Etudiant;

@{
    ViewBag.Title = "Modifier etudiant";
}

<h2>Modifier Etudiant</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Modifier Etudiant</legend>



        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <class="editor-label">
            @Html.LabelFor(model => model.Prenom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prenom)
            @Html.ValidationMessageFor(model => model.Prenom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPromotion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdPromotion)
            @Html.ValidationMessageFor(model => model.IdPromotion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Revenir à la liste", "ListeEtudiant")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}